#cardapio{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    padding: 2rem;
    background-image: url(../img/img-cardapio.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}
#cardapio h1{
    font-weight: var(--regular);
}
#cardapio h1 span{
    font-weight: var(--bold);
}
#cardapio p{
    margin: 2rem 0;
    width: 80vw;
}
#cardapio a{
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid var(--cor2);
    border-radius: 10px;
    color: var(--cor2);
}


@media screen and (min-width:1024px) {
    #cardapio{
        padding: 2rem 0 0 7rem;
        background-position: bottom right;
    }
    
    #cardapio p{
        width: 50vw;
    }   
}