#contato {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--cor4);
  color: var(--cor6);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contato p {
  margin: 2rem 0;
  text-align: center;
  font-weight: var(--light);
}

#contato .contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
#contato .contatos div {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contato .contatos div img {
  width: 20%;
}

#contato .contatos p {
  margin: 0;
}

@media screen and (min-width: 768px) {
      #contato .contatos {
        flex-direction: row;
        flex-wrap: wrap;
      }
      #contato .contatos div {
        width: 30vw;
      }
      #contato .contatos div img {
        width: 10%;
      }
}
@media screen and (min-width: 1024px) {
      #contato .contatos div {
        width: 20vw;
      }
}
