header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor4);
    padding: 1rem 2rem;
}

header nav #menu{
    width: 10vw;
}
header .background{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: none;
}
header nav .desktop{
    display: none;
}
header .menu-active{
    background-color: var(--cor6);
    position: fixed;
    width: 60vw;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 10rem 0 0 2rem;
    z-index: 5;
    border-radius: 30px 0 0 0 ;
}

header .menu-active ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

header .menu-active ul li{
    font-size: 1.3rem;
    color: var(--cor5);
}

header #close{
    position: absolute;
    top: 3rem;
    right: 2rem;
    width: 15vw;
}

@media screen and (min-width:768px) {
    header nav #menu{
        width: 7vw;
    }
    header #close{
        width: 10vw;
    }
    header .menu-active{
        width: 50vw;
        padding: 10rem 0 0 5rem;
    }
}

@media screen and (min-width: 1024px) {
    
    header nav #menu{
        display: none;
    }
    header nav .desktop{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        padding-right: 7rem;
    }
    header nav .desktop li{
        font-size: 1.2rem;
    }
    header nav .desktop li a{
        color: white;
    }
}