#home{
    width: 100vw;
    height: 110vh;
    background-image: url(../img/img-home.jpg);
    background-position:  bottom center;
    background-repeat: no-repeat;
    background-size: 230vw 75vh;
    background-color: var(--cor4);
    color: var(--cor6);
    padding: 2rem 0 0 2rem;
    overflow-x: hidden;
}
#home h1{
    font-size: 2rem;
    font-weight: var(--bold);
}
#home p{
    margin-bottom:2rem;
    font-weight: var(--light);
    width: 70vw;
}
#home a{
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid var(--cor2);
    border-radius: 10px;
    color: var(--cor2);
}

@media screen and (min-width: 768px) {
    #home{
        height: 100vh;
        background-size: 120vw 75vh;
    }
}
@media screen and (min-width: 1024px) {
    #home{
        padding: 5rem 0 0 5rem;
        background-size: 100vw 100vh;
    }
}