#nosso_espaco{
    width: 100vw;
    background-color: var(--cor2);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--cor6);
}

#nosso_espaco h1{
    margin-bottom: 2rem;
}
#nosso_espaco a{
    margin: 2rem 0;
    padding: 1rem;
    border: 2px solid var(--cor6);
    border-radius: 10px;
    color: var(--cor6);
}

#nosso_espaco video{
    width: 80vw;
    margin-top: 3rem ;
    height: auto;
    background-color: var(--cor5);
}

@media screen and (min-width:1024px) {
    #nosso_espaco{
        padding-bottom: 5rem;
        flex-direction: row;
        gap: 5rem;
    }
    #nosso_espaco video{
        width: 40vw;
    }
}