#promo{
    width: 100vw;
    height: auto;
    background-color: var(--cor2);
    padding: 2rem;
    overflow-x: hidden;
}
#promo h1{
    color:var(--cor6);
    text-align: center;
    padding-bottom: 2rem;
}
#promo form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

#promo form input[type="text"]{
    width: 80vw;
    background-color: var(--cor6);
    border: none;
    padding: .5rem;
    border-radius: 1px;
}
#promo form input[type="submit"]{
    padding: 1rem 2rem;
    background-color: var(--cor3);
    color: var(--cor6);
    font-weight: var(--bold);
    border: none;
    border-radius: 15px;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    #promo form input[type="text"]{
        width: 50vw;
    }
}
@media screen and (min-width: 1024px) {
    #promo form{
        flex-direction: row;
    }
    #promo form input[type="text"]{
        width: 30vw;
    }
}