@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
@import url(header.css);
@import url(home.css);
@import url(promo.css);
@import url(cardapio.css);
@import url(nosso_espaco.css);
@import url(nossa_casa.css);
@import url(contato.css);
@import url(localizacao.css);
@import url(footer.css);

:root {
  --cor1: #212522;
  --cor2: #ef7f00;
  --cor3: #473001;
  --cor4: #1a1a1a;
  --cor5: black;
  --cor6: white;

  --fonte: "Roboto", sans-serif;
  --thin: 100;
  --light: 300;
  --regular: 400;
  --bold: 700;
  --black: 900;
}

body{
    font-family: var(--fonte);
    font-weight: var(--regular);
    color: var(--cor5);
    width: 100vw;
    overflow-x: hidden;
}

section{
    width: 100vw;
    overflow-x: hidden;
}
